# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnp/
.pnp.js
*.pnp.js

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.local
.env.*.local

# Build output
build/
dist/
